<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Future Technology Support</h4>
                    <p class="chatbox__description--header">Meet Us for Support</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <input type="file" id="fileInput" accept=".jpg, .jpeg, .png, .gif"> <!-- Add this line for the upload button -->
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="/static/images/chatbox-icon.svg" /></button>
        </div>
    </div>
    <script>
    var server_ip_address = "{{ ip_address }}";
    console.log("this in html",server_ip_address)
    </script>
</div>
<script src="/static/app.js"></script>
</body>
</html>